@import url(reset.css);

:root{
    --background-color: #19A1AE;
}

body{
    background-color: var(--background-color); 
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-position: -284px -504px, 714px 344px ; /* values calculated using Figma */
    background-repeat: no-repeat, no-repeat;
}