@import url(reset.css);

:root{
    --background-color: #19A1AE;
}

body{
    /* background-color: var(--background-color); */
    background-image: url(../images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-position: -79%, 10%;
}